---
import GridList from '../components/GridList.astro';
import ImageLink from '../components/ImageLink.astro';
import Title from '../components/Title.astro';
import ImageContainer from '../components/ImageContainer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="portfolio">
	<Title level={1}>hello</Title>	
	<p>
		my name is coffee (they/them).
		I design google sheets documents for tabletop games.
		I am currently available for hire. contact me at
		<a href="mailto:CMJ10232020@protonmail.com">CMJ10232020@protonmail.com</a>.
		inquire within for payment rates.
	</p>
	<Title level={2}>here's what i do</Title>
	<GridList columns={{ lg: 3, md: 2, sm: 1 }}>
		<ImageLink text="art" href="/art">
			<ImageContainer width={175} height={150}>
				<img
					src="/images/animus.jpg"
					alt="a character portrait of an original character from a game of Heart: the City Beneath"
				>
			</ImageContainer>
		</ImageLink>
		<ImageLink text="rpg assets" href="/rpgs">
			<ImageContainer width={175} height={150} position={{ x: 0 }}>
				<img
					src="/images/fathom-sheet.jpeg"
					alt="image of a character sheet for Fathom designed in Google Sheets"
				>
			</ImageContainer>
		</ImageLink>
		<ImageLink text="other projects" href="/other">
			<ImageContainer width={175} height={150}>
				<img
					src="/images/video-editing-screencap.jpg"
					alt="a screenshot of video editing software depicting the creation of a video poem"
				>
			</ImageContainer>
		</ImageLink>
	</GridList>
	<Title level={2}>find me online</Title>
	<GridList columns={{ lg: 3, md: 2 }}>
		<ImageLink text="cohost" href="https://cohost.org/ahcoffeebeans">
			<img src="/images/cohost.svg" alt="cohost logo" class="social-link">
		</ImageLink>
		<ImageLink text="itch.io" href="https://ahcoffeebeans.itch.io/">
			<img src="/images/itchio.svg" alt="itch.io logo" class="social-link">
		</ImageLink>
		<ImageLink text="youtube" href="https://www.youtube.com/@ahcoffeebeans">
			<img src="/images/youtube.svg" alt="youtube logo" class="social-link">
		</ImageLink>
		{/*
		<ImageLink text="tumblr" href="#">
			<img src="/images/tumblr.svg" alt="tumblr logo" class="social-link">
		</ImageLink>
		*/}
	</GridList>
</Layout>

<style>
	.list {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	.list-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: var(--spc-md);
		grid-row-gap: var(--spc-md);

		@media only screen and (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.social-link {
		width: var(--spc-xxl);
	}/*
	.img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		height: 100px;
		border-radius: 4px;
		overflow: hidden;
		& img {
			width: 120%;
		}
	}*/
</style>
