---
interface Props {
	flex?: 'row' | 'col';
}

const { flex } = Astro.props;

const flexClass = !flex ? '' : `flex-${flex}`;
---
<section class:list={["card", flexClass]}>
	<slot />
</section>
<style scoped>
	.card {
		border-radius: var(--radius);
		border: var(--spc-tiny) solid var(--main-accent-color);
		padding: var(--spc-xs);
	}
	.flex-col {
		display: flex;
		flex-flow: column;
		gap: var(--spc-xs);
	}
	.flex-row {
		display: flex;
		flex-flow: row;
		gap: var(--spc-xs);
	}
</style>
