@font-face {
  font-family: "Verdana";
  src: url("Verdana.eot");
  src:
    url("Verdana.eot?#iefix") format("embedded-opentype"),
    url("Verdana.woff2") format("woff2"),
    url("Verdana.woff") format("woff"),
    url("Verdana.svg#Verdana") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("Verdana-Bold.eot");
  src:
    url("Verdana-Bold.eot?#iefix") format("embedded-opentype"),
    url("Verdana-Bold.woff2") format("woff2"),
    url("Verdana-Bold.woff") format("woff"),
    url("Verdana-Bold.svg#Verdana-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("Verdana-BoldItalic.eot");
  src:
    url("Verdana-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Verdana-BoldItalic.woff2") format("woff2"),
    url("Verdana-BoldItalic.woff") format("woff"),
    url("Verdana-BoldItalic.svg#Verdana-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
